.added_product-modal {
  max-width: 600px;
  width: 100%;
}

.added_product-heading {
  font-size: 1.1em;
}

.added_product-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.added_product-totals {
  padding: 0.5rem 0;
  font-size: 0.8em;
  opacity: 0.8;
}

.added_product-price {
  margin-bottom: 1em;
}

.added_product-footer {
  font-size: 0.8em;
}

.added_product-footer [class*=btn] {
  width: 100%;
}

.added-close {
  margin-top: 1em;
}

.added_product_variant-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.added_product_variant-options {
  font-size: 0.8em;
}

.added_product_variant {
  padding: 0 1em;
}

.added_product-footer {
  max-width: 300px;
  margin: 1em auto 0;
}
