<div id="added-product" class="modal-hide added_product-modal">
  <div class="js-added_product"></div>
</div>

<script type="text/template" data-template-id="added-product">
<div class="added_product">

    <div class="added_product-header">
      <div class="row flex-between flex-middle">
        <div class="added_product-heading">
          Товар добавлен в корзину
        </div>
        <div class="added_product-totals">
          <div class="added_product-position">
            В корзине <span><%= cart.positions_count %></span> <span><%= declinationText(cart.positions_count) %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="added_product-info">

      <div class="added_product-product">
        <div class="row flex-middle">
          <div class="cell-5">
            <div class="cart-modal-image">
              <span class="image-container added_product_variant-image is-square">
                <span class="image-flex-center">
                  <img src="<%= variant.first_image.medium_url %>">
                </span>
              </span>
            </div>
          </div>
          <div class="cell-7">
            <div class="added_product_variant">
              <div class="added_product_variant-title">
                <%= product.title %>
              </div>

              <div class="added_product_variant-options">
                <% _.forEach(variant.option_values, function (value){  %>
                  <% if(value.option_name) { %>
                  <div class="added_product_variant-option">
                    <%= value.option_name.title %>: <%= value.title %>
                  </div>
                  <% } %>
                <% }) %>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="added_product-footer">
      <form action="{{ cart_url }}" method="post" data-cart-form class="cart_order">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="make_order" value="">
        <input type="submit" value="Оформить заказ" data-cart-submit class="btn btn-danger btn-cart_order">
      </form>

      <button class="added-close btn btn-primary">
        Продолжить покупки
      </button>
  </div>
</div>
</script>
